* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 50%;
    margin: 0 auto;
}

.logo {
    display: flex;
    margin: 20px auto;
    justify-content: center;
}

.logo img {
    width: 130px;  
}

h1 {
    font-size: 50px;
    line-height: 130px;
    padding-left: 30px; 
}

h1 span {
    color: #BD8C32;
}

.task-input {
    text-align: center;
    margin: 50px 0;
}

.task-input input {
    padding: 8px 85px;
    background-color: #BD8C32;
    color: black;
    border: 2px solid black;
    border-radius: 20px;
}

.task-input button {
    padding: 8px 20px;
    background-color: black;
    color: #BD8C32;
    border: 2px solid #BD8C32;
    border-radius: 20px;
}

.task-input button:hover {
    background-color: white;
    cursor: pointer;
}

.task-contenitor {
    background-color: #BD8C32;
    border-radius: 20px;
    padding: 30px;
    border: 2px solid black;
}

.task-contenitor ul {
    list-style: none;
}

.task-contenitor li {
    border-bottom: 1px solid black;
    padding: 10px 20px; 
}

.task-contenitor li:hover {
    background-color: #ba9d68;
    cursor: pointer;
}

.task-contenitor li i {
    float: right;
}

.task-contenitor li i:hover {
    color: red;
}

.red {
    color: red;
    display: block;
    padding-top: 10px;
}

.complete {
    text-decoration: line-through;
}

h3 {
    text-align: center;
    padding-top: 10px;
    color: red;
}